<!-- Footer -->
<footer>
    <div class="container">
        <div class="top-actions">
            <ul class="social-media">
                <li><a href="#"><img src="{{ '/assets/images/icons/linkedin.svg' | relative_url }}" alt=""></a></li>
                <li><a href="#"><img src="{{ '/assets/images/icons/x.svg' | relative_url }}" alt=""></a></li>
                <li><a href="#"><img src="{{ '/assets/images/icons/fly.svg' | relative_url }}" alt=""></a></li>
            </ul>

            <ul class="menu">
                <li><a href="#">Vision</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Opportunities</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Study</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </div>

        <div class="middle-actions">
            <a href="#" class="logo"><img src="{{ '/assets/images/university-of-cambridge-logo.svg' | relative_url }}" alt=""></a>
            <a href="#" class="button">University of cambridge
                <div class="icon"><img src="{{ '/assets/images/icons/arrow-right-up-black.svg' | relative_url }}" alt=""></div>
            </a>
        </div>

        <div class="bottom-actions">
            <span class="copy">Copyright ai@cam  2025</span>
            <div class="subscribe">
                Stay up to date
                <a href="#">
                    Subscribe
                    <div class="icon"><img src="{{ '/assets/images/icons/arrow-right-up-black.svg' | relative_url }}" alt=""></div>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->